* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--open-sans);
}

ul {
    margin: 0 !important;
    padding: 0 !important;
    list-style: none !important;
}

/*a {*/
/*    color: var(--black-color) !important;*/
/*    text-decoration: none !important;*/
/*}*/

/*a:hover {*/
/*    cursor: pointer !important;*/
/*    color: #0077ff !important;*/
/*    text-decoration: underline !important;*/
/*}*/
