.app.light {
    --bg-color: #ffffff;
    --inverted-bg-color: #1d232a;

    --txt-color: #1d232a;

    --primary-color: #0232c2;
    --secondary-color: #0449e0;
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #04ff04;
}
