.app.light {
  --bg-color: #ffffff;
  --inverted-bg-color: #1d232a;

  --txt-color: #1d232a;

  --shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  --avatar: #f3f3f3;

  --loader: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);

  --primary-color: #0232c2;
  --secondary-color: #0449e0;
  --inverted-primary-color: #049604;
  --inverted-secondary-color: #04ff04;
}
